*.zip
*.rar
*.7z
*.md
*.bin

react/build

**/node_modules
**/sprite-sheets

**/sonar-maps/*
!**/sonar-maps/thumbnails/

**/level-maps/*
!**/level-maps/thumbnails/

**/object-maps/*
!**/object-maps/thumbnails/


